
@{
    ViewBag.Title = "About";
}

<div class="aligncenter">
<i class="fa fa-female fa-4x"></i>
<i class="fa fa-star"></i>
<i class="fa fa-university fa-4x"></i>
<i class="fa fa-star"></i>
<i class="fa fa-magic fa-4x"></i>
<i class="fa fa-star"></i>
<i class="fa fa-github fa-4x"></i>
</div>
<hr />
<h3>About Me</h3>
<p>I am a person who does things.</p>
<h3>Education</h3>
<p>I have an exceptionally useless Master's degree from the University of London.  
    Yes, that London.  Hire me.</p>
<h3>Skills</h3>
<p>Boo.</p>