
@{
    ViewBag.Title = "About";
}


<div>
    <img src="~/Content/My_Little_Code_Ponies/SQLpony_web.png" class="img-responsive" style="float: right;" />

    <h3>About Me</h3>
    <p><strong>Who</strong> >> Tori Brenneison</p>
    <p><strong>What</strong> >> Software Development Student</p>
    <p><strong>Where</strong> >> Cleveland, OH</p>
    <p><strong>When</strong> >> Now</p>
    <p><strong>Why</strong>>> Reasons</p>

    <h3>Education</h3>
    <p><strong>Software Development Certificate</strong> >> We Can Code IT</p>
    <p><strong>MA History of Art</strong> >> University College London, 2014</p>
    <p><strong>BA Art History</strong> >> Cleveland State University, 2013</p>

    <h3>Skills</h3>
    <p><strong>Programming/Web</strong> >> C#, ASP.NET MVC, SQL, Git/Github, JavaScript, jQuery, HTML, CSS, Bootstrap, Wordpress </p>
    <p style="text-indent: 20px;"><a href="https://github.com/tbrenneison" target="_blank"><i class="fa fa-github fa-lg"></i> Psst--visit me on Github!</a></p>
    <p><strong>Software</strong> >> Microsoft Visual Studio, SQL Server Management Studio, Adobe Photoshop, Microsoft Windows XP+, Mac OSX.2+ </p>
    <p><strong>Other</strong> >> Scrum, Illustration, Customer Service, German (limited working proficiency), ARC First Aid/Adult CPR/AED Certified</p>

   
</div>