
@{
    ViewBag.Title = "Contact";
}


<img src="~/Content/My_Little_Code_Ponies/infinitelooppony_web.png" class="img-responsive" style="float: left;" />

<div class="aligncenter">
    <br />
    <a href="https://toribeth.com" target="_blank">
        <i class="fa fa-commenting fa-4x"></i>
    </a>

    <p><strong>Blog</strong> >> toribeth.com</p>

    <a href="https://www.linkedin.com/in/tbrenneison" target="_blank">
        <i class="fa fa-linkedin-square fa-4x"></i>
    </a>

    <p><strong>Linkedin</strong> >> tbrenneison</p>

    <a href="https://github.com/tbrenneison" target="_blank">
        <i class="fa fa-github-square fa-4x"></i>
    </a>

    <p><strong>Github</strong> >> tbrenneison</p>

    <a href="https://witter.com/not_unambitious" target="_blank">
        <i class="fa fa-twitter-square fa-4x"></i>
    </a>

    <p><strong>Twitter</strong> >> not_unambitious</p>

    <a href="https://instagram.com/tbrenneison" target="_blank">
        <i class="fa fa-instagram fa-4x"></i>
    </a>

    <p><strong>Instagram</strong> >> tbrenneison</p>
</div>
