
@{
    ViewBag.Title = "Contact";
}

<div class="aligncenter">
    <a href="https://www.linkedin.com/in/toribrenneison" target="_blank">
    <i class="fa fa-linkedin-square fa-4x"></a></i>
    
    <i class="fa fa-star"></i>

    <a href="https://github.com/" target="_blank">
    <i class="fa fa-github-square fa-4x"></a></i>
    

    <i class="fa fa-star"></i>
    <a href="https://witter.com/not_unambitious" target="_blank">
    <i class="fa fa-twitter-square fa-4x"></a></i>
    
    <i class="fa fa-star"></i>

    <a href="https://instagram.com/tbrenneison" target="_blank">
    <i class="fa fa-instagram fa-4x"></a></i>

    <hr />
    <p><strong>Blog</strong> >> toribeth.com</p>
    <p><strong>Linkedin</strong> >> tbrenneison</p>   
    <p><strong>Github</strong> >> tbrenneison</p>
    <p><strong>Twitter</strong> >> not_unambitious</p>
    <p><strong>Instagram</strong> >> tbrenneison</p>
 
</div>

