
@{
    ViewBag.Title = "Home";
}

<div>

<img src="~/Content/My_Little_Code_Ponies/csharppony_web.png" class="img-responsive" style="float: right;" />
    <div class="aligncenter">
        <br />
        <h2 class="permanentmarker">Hi.</h2>
        <h3 class="permanentmarker">My name is</h3>
        <h1 class="permanentmarker">Tori Brenneison</h1>
        <h3 class="permanentmarker">and I</h3>
        <h1 class="permanentmarker">make stuff.</h1>
        <br /><br />
        <h3 class="permanentmarker">...and ponies.</h3>
        <h3 class="permanentmarker">I make a lot of ponies.</h3>
    </div>
</div>



