
@{
    ViewBag.Title = "Index";
}

<div>
    <div style="width: 50%; float: right;">
        <img src="~/Content/My_Little_Code_Ponies/csharppony_web.png" class="img-responsive" />
    </div>
    <div style="width: 50%; float: left;">
        <img src="~/Content/My_Little_Code_Ponies/infinitelooppony_web.png" class="img-responsive" />
    </div>
</div>



