
@{
    ViewBag.Title = "Index";
}

<div>
    <img src="~/Content/Other_Images/csharppony_web.png" class="img-responsive" style="float: right;" />

    <p>
        this is the index page wooooooooooooooooooow.  There are some things.  And other things.
        Loads of things all over the place.  All over the place!  So many thing. I basically just want to see
        how this floats.  Because reasons.  Lots of reasons.
    </p>
    <p>
        this is the index page wooooooooooooooooooow.  There are some things.  And other things.
        Loads of things all over the place.  All over the place!  So many thing. I basically just want to see
        how this floats.  Because reasons.  Lots of reasons.
    </p>
    <p>
        this is the index page wooooooooooooooooooow.  There are some things.  And other things.
        Loads of things all over the place.  All over the place!  So many thing. I basically just want to see
        how this floats.  Because reasons.  Lots of reasons.
    </p>
    <p>
        this is the index page wooooooooooooooooooow.  There are some things.  And other things.
        Loads of things all over the place.  All over the place!  So many thing. I basically just want to see
        how this floats.  Because reasons.  Lots of reasons.
    </p>
    <p>
        this is the index page wooooooooooooooooooow.  There are some things.  And other things.
        Loads of things all over the place.  All over the place!  So many thing. I basically just want to see
        how this floats.  Because reasons.  Lots of reasons.
    </p>
    <p>
        this is the index page wooooooooooooooooooow.  There are some things.  And other things.
        Loads of things all over the place.  All over the place!  So many thing. I basically just want to see
        how this floats.  Because reasons.  Lots of reasons.
    </p>
    <p>
        this is the index page wooooooooooooooooooow.  There are some things.  And other things.
        Loads of things all over the place.  All over the place!  So many thing. I basically just want to see
        how this floats.  Because reasons.  Lots of reasons.
    </p>
    <p>
        this is the index page wooooooooooooooooooow.  There are some things.  And other things.
        Loads of things all over the place.  All over the place!  So many thing. I basically just want to see
        how this floats.  Because reasons.  Lots of reasons.
    </p>
    <p>
        this is the index page wooooooooooooooooooow.  There are some things.  And other things.
        Loads of things all over the place.  All over the place!  So many thing. I basically just want to see
        how this floats.  Because reasons.  Lots of reasons.
    </p>

    <p>this is the index page wow </p>
    <p>this is the index page wow </p>
    <p>this is the index page wow </p>
    <p>this is the index page wow </p>
    <p>this is the index page wow </p>
    <p>this is the index page wow </p>

</div>



