body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.imgaligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*PANKKKKK border for when I need to see elements 100% right there A+ very obvious-like */
.pankborder {
    border: 1px solid hotpink;
}

/* Fixing the darned navbar */
.navbar-collapse {
    text-align: center;
}
.navbar-collapse.collapse {
        text-align: center; 
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
}
.navbar-nav {
    text-align:center;
    display: inline-block;
    float: none;
    margin: 0;
}
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after
 {
  display: inline-block;
  content: none;
}
/* Stupid toggle button */
.navbar-toggle {
  position: relative;
  float: right;
  padding: 0px;
  margin: 0px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-default {
    width: 100%;
    background-color: transparent;
}

/*Project/Detail Display Boxes: */

.projectpreviewboxcontainer
{
    width: 300px;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    border: 2px dashed #7f379a;
    border-radius: 10px;
    overflow: hidden;

}

.projectpreviewboxtop {
    width: 100%;
    text-align: center;
    background: #e7cafa;
    border-bottom: 2px solid #7f379a;
    margin-top: 0px;
    padding-top: 0px;
}

.projectpreviewbox {
    width: 100%;
    height: auto; 
    text-align: center;

}

.projecth {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projectthumbnail {
    width: 200px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

/*Flex Container for Project/Detail Boxes*/
.flexcontainer { 
    width: 100%;
    display: inline-flex; 
    flex-flow: row wrap; 
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

/*Google Font*/
.permanentmarker {
    font-family: 'Homemade Apple', cursive;
}

/*Big text is big*/
.huge {
    font-size: 450%; 
}

.nothashuge {
    font-size: 150%;
}


/* LANKS */

a:link {
    color: #7f379a;
}

a:visited {
    color: #7f379a;
}

a:hover {
    color: #e7cafa;
    text-decoration: none;
}

a:active {
    color: #e7cafa;
}

/* Change up the navbar links*/

.nav > li > a {
  position: relative;
  display: inline-block;
  padding: 15px;
  color: #7f379a;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: #e7cafa;
  text-decoration: none;
  background-color: transparent;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #7f379a;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #e7cafa;
  background-color: transparent;
  border-color: none;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: transparent;
}